extends layout

block content
    h1 Lista de musicas da provincia: #{adicionais.id}
    h2 Gerado a: #{adicionais.data}
    address 
        a(class="botao" href="/provincias") Volta à lista de provincias
    hr
    table(class="w3-table w3-bordered")
        tr 
            th Identificador 
            th Titulo 
            th Musico

        each m in musicas
            tr(class="li-item")
                td 
                    a(href="/musicas/"+m.id)= m.id
                td= m.tit
                td= m.musico


